<ion-header>
  <ion-toolbar>
    <ion-title>
      Tienda de Cocina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Productos Destacados
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary" routerLink="/productos">Ver Productos</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Carrito
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="secondary" routerLink="/carrito">Ir al Carrito</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Ofertas Especiales
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="tertiary" routerLink="/productos">Ver Ofertas</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" routerLink="/registro">Registrarse</ion-button>
  <ion-button expand="full" routerLink="/login">Iniciar Sesión</ion-button>
</ion-content>
